body{
    background-color: #555555;
    color: #555555 ;
    font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    line-height: 2;
    margin: 0;
}

h1{
    font-size: 5.625rem;
    margin: 50px 0 0 40px;
    font-family: cursive;
  
    
}

h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    padding-bottom: 10px;
}

p{
    line-height: 2;
}

a{
    color: #555555;
    font-family: Arial, Helvetica,sans-serif;
    margin: 10px 20px;
    text-decoration: none ;

}
a:hover{
     color: aliceblue;
}

.top {
    background-color: #CDC9C3;
    display: block;
    position: relative;
   margin: auto auto;
    width: 1200px;
    padding: 20px 20px;
}




#menu{
    text-align: center;
    display: inline-block;
    position: relative;

}

.middle1{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px;
    text-align: center;
}

.profile{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px;
    text-align: center;
}

.about{
    width: 30%;
    margin: auto;
}

.EDUCATION{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px ;
    text-align: center;
}


.Skills{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px;
    text-align: center;
}

.skills{
    width: 30%;
    margin: auto;
}

.middle2{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto ;
    width: 1200px;
    padding: 30px 30px;
    text-align: left;
}

.Experience{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px ;
    text-align: center;
}


.bottom{
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px;
    text-align: center;
} 

.Projects{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto 30px auto;
    width: 1200px;
    padding: 30px 30px;
    text-align: center;
    
}
.Content{
    background-color: #CDC9C3;
    display: block;
    position: relative;
    margin: 30px auto;
    width: 1200px;
    padding: 30px 30px;
    text-align: center;
    
}
.footer{
    background-color: #CDC9C3;
    padding: 50px 0 20px;
}

.copyright{
    color: #555555;
    font-size: 0.75rem;
    padding: 20px 0;

}
.oleg-img{
    float: left;
    padding: 20px 20px;
   
}

.content-message{
    width: 40%;
}

.submission-form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
}

.lable{
    display: block;
    padding: 1rem 0 .25rem ;
    text-transform: capitalize;
    font-size: 14px;
    
}

input, textarea {
    display: block;
    width: 100%;
    border: 2px solid;
    padding: .25rem;
    font-size: 18px;
    border-radius: 5px;

     

}
#sendBtn{
    border: 0;
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    text-transform: capitalize;
    
}


.links{
    margin-left: 300px ;

}




/* hexcodes
#D9E4DD 
#FBF7F0
#CDC9C3 
#555555 */